*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
   
    
    margin-top: -18px;
    background-color: black;
   

}
.posttitle{
    color: rgb(255, 255, 255);
    padding: 22px;
    font-size: 30px;
}
img{
   width: 250px;
   
}
.poster{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.poster::-webkit-scrollbar{
    display: none;

}